$color-primary:rgb(91%, 76%, 27%);
$color-secondary:#333333;
$color-grey:rgb(88%, 87%, 84%);
$color-brown:rgb(24%, 17%, 15%);


$font:'Lora', serif;
$font-bold:700;
$font-normal:400;


$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);