@import 'abstracts/variables';
@import 'abstracts/mixins';

%cat-list-item{
    padding: 1rem 2rem;
}

.list{
    display: grid;
    justify-items: stretch;
    @include respond-above('xs'){
        grid-template-columns: 100%;
    }
    @include respond-above('sm'){
        grid-template-columns: repeat(2,50%);
    }
    @include respond-above('md'){
        grid-template-columns: repeat(3,33%);
    }
    @include respond-above('lg'){
        grid-template-columns: repeat(4,25%);
    }
    &-container{
        display: grid;
        grid-template-columns: 25% 70%;
        justify-content: space-between;
    }
}
.categories{
    font-size: 1.4rem;
    &__title{
        background-color: $color-primary;
        color:$color-brown;
        font-weight: 700;
        @extend %cat-list-item;
    }
    &__item{
        border-bottom: 0.05rem solid rgba(128, 128, 128, 0.363);
        color:white;
        @extend %cat-list-item;
        background-color: $color-brown;
        &:hover{
            color:$color-primary;
            cursor: pointer;
            background-color: rgba(61, 43, 38, 0.897);
        }
    }
   
}
